runs/
helpers/
.vscode/
ionic*
dist_train*
__pycache__
*.pyc
weights/
checkpoints/
depthanything2.txt
saves/
saves_old/
wandb
submit_*.py
neuronic*
results
predictions/
logs/
dataset/splits/
*tmp*
*_backup*
.codex